<select name="menu" onchange="location = this.value">
    <option>☰</option>
    <option value="{{ path('app_fdj_index') }}">Formule de jeu</option>        
    <option value="{{ path('app_mcc_index') }}">Mode de calcul</option>        
    <option value="{{ path('app_fdj_index') }}">Mode de compétition</option>        
    <option value="{{ path('app_fdj_index') }}">Règle de la croix</option>        
    <option value="{{ path('app_fdj_index') }}">Règle de la répartition</option>        
    <option value="{{ path('app_fdj_index') }}">Compte utilisateur</option>        
</select>
