{% extends 'base.html.twig' %}

{% block title %}Formule de jeu{% endblock %}

{% block body %}
    <h1>Formule de jeu</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formule_de_jeu in formule_de_jeus %}
            <tr>
                <td>{{ formule_de_jeu.nom }}</td>
                <td>{{ formule_de_jeu.description }}</td>
                <td>
                    <a role="button" class="sbtt" href="{{ path('app_fdj_show', {'id': formule_de_jeu.id}) }}">voir</a>
                    <a role="button" class="sbtt" href="{{ path('app_fdj_edit', {'id': formule_de_jeu.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune formule de jeu trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" class="sbtt" href="{{ path('app_fdj_new') }}">Créer une nouvelle formule de jeu</a>
    <a role="button" class="sbtt" href="{{ path('app_parametrage') }}">Retour au paramétrage</a>
{% endblock %}
