    <select name="menu" onchange="location = this.value">
        <option value="{{ path('app_accueil') }}">Accueil</option>
        <option value="{{ path('app_accueil') }}">Résultats</option>
        <option value="{{ path('app_championnat') }}">Championnats</option>
        <option value="{{ path('app_accueil') }}">Associations</option>
        <option value="{{ path('app_accueil') }}">Parcours</option>
        <option value="{{ path('app_parametrage') }}">Paramétrage</option>
    </select>
