{% extends 'base.html.twig' %}

{% block title %}Accueil Projet 7{% endblock %}

{% block menu %}
    {% include "accueil/_menu_accueil.html.twig" %}
{% endblock %}

{% block body %}

<main class="container">
    <article class="component">
        <header>Tu as participé à une compétition et tu veux connaître les résultats, clique en dessous</header>
        <a role="button" class="fs" href="{{ path('app_accueil') }}">Accès aux résultats</a>
    </article>
    {% if is_granted("ROLE_USER") %}  
        <article class="component">
            <header>Tu veux organiser ou suivre une compétition ou un championnat</header>
            <a role="button" class="fs" href="{{ path('app_championnat') }}">Accès aux championnats</a>
        </article>

        <article class="component">
            <header>Tu dois créer/modifier une association et ses adhérents ...</header>
            <a role="button" class="fs" href="{{ path('app_club_index') }}">Accès aux associations</a>
        </article>

        <article class="component">
            <header>Tu veux découvrir les parcours existants, proposer de nouveaux parcours, ...</header>
            <a role="button" class="fs" href="{{ path('app_accueil') }}">Accès aux parcours</a>
        </article>

        <article class="component">
            <header>Tu veux modifier les paramétrages généraux. (droits supérieurs nécessaires)</header>
            <a role="button" class="fs" href="{{ path('app_parametrage') }}">Paramétrages</a>
        </article>
    {% endif %}
</main>
{% endblock %}
