{% extends 'base.html.twig' %}

{% block title %}{{ parcours.nom }}{% endblock %}

{% block body %}

<main class='container'>
    <article>
        <header>Identification - </header>
        <table>
            <tr>
                <td>Nom</td>
                <td>{{ parcours.nom}}</td>                
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ parcours.description}}</td>                
            </tr>
        </table>
    </article>

    <article>
        <header>Cibles - </header>
        {% for cible in parcours.cibles %}
            <table>
                <tr>
                    <td>#</td>
                    <td> {{ cible.ordre }} </td>
                </tr>
                <tr>
                    <td>Par</td>
                    <td> {{ cible.par }} </td>
                </tr>
                <tr>
                    <td>Règle</td>
                    <td> {{ cible.formuleDeJeu.nom }} </td>
                </tr>
                <tr>
                    <td>Départ</td>
                    <td> {{ cible.cible.depart.description }} - ({{ cible.cible.depart.latitude }};{{ cible.cible.depart.longitude }})</td>
                </tr>
                <tr>
                    <td colspan="2"> Modifier / Supprimer</td>
                </tr>
            </table>
        {% endfor %}
    </article>

</main>

{% endblock %}
