{% extends 'base.html.twig' %}

{% block title %}Liste des associations{% endblock %}

{% block body %}
    <h1>Liste des associations</h1>

    {% for club in clubs %}
        <article>
            <header>{{ club.nom }}</header>
            {{ club.description }}
            <footer>
                <a href="{{ path('app_club_show', {'id': club.id}) }}">voir</a>
                <a href="{{ path('app_club_edit', {'id': club.id}) }}">modifier</a>
                <a href="{{ path('app_accueil', {'id': club.id}) }}">joueurs</a>
                <a href="{{ path('app_accueil', {'id': club.id}) }}">championnats</a>
            </footer>
        </article>
    {% endfor %}

    <a role="button" href="{{ path('app_club_new') }}">Créer</a>
{% endblock %}
